.pokemon-card {
  background: white;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 22rem;
  padding: 1rem;
  border-radius: 0.6rem;
  box-shadow: 7px 8px 11px rgb(199, 202, 218);
}
.pokemon-name {
  margin-left: 0.3rem;

  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pokemon-sprite-front {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.pokemon-card-abilities {
  margin-left: 0.3rem;
}
.pokemon-card-abilities-header {
  font-weight: 600;
}
.pokemon-card-ability-name {
  text-transform: capitalize;
}
.manage-favorites-btn {
  width: 12rem;
  font-size: 10pt;
  margin-top: auto;
}
